*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    columns: #333;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}
header{
    text-align: center;
    color: white;
    background-color: #333;
    padding: 50px;
}

section{
    padding: 20px;
    margin: 20px;
    background-color: white;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    left:500px;
    flex-wrap: wrap;
}

nav a{
    color:black;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{

    color:yellow;
}
h2{
    align-items: center;
    color: #333;
}

label{
    display: block;
    margin-top: 10px;
}
input,textarea{
    
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

form{
    margin-top: 10px;
}

button{
    background-color:#333;
    color:white;
    padding:10px 20px;
    border:none;
    margin-top:10px;
    cursor:pointer;
}

button:hover{
    color: #555;
}

footer{
    text-align:center;
    background:#333;
    color:white;
    padding:15px;
    margin-top:20px;
}

@media(min-width:768px){

    header{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .home{
        grid-template-columns:1fr 1fr;
        text-align:left;
    }
}

@media(min-width:1024px){
    .hero{
        grid-column:span 12;
    }

    .skills{
        grid-column:span 4;
    }

    .projects{
        grid-column:span 8;
    }

    .contact{
        grid-column:span 12;
    }

}
